$main-color: #fafafa;

body{
	font-family: 'Lato';
	background-color: #333;
	color: $main-color;
}

// article:not(#frontpage){
// 	width: 90%;

// }

	h1{
		font-size: xx-large;
	}

article{
	width: 90%;
	// border: solid 5px black;
	border-radius: 10px;
	box-shadow: 0 0 20px 5px darken(#333, 10%);

	margin: auto;
	margin-top: 10%;
	padding: 15px;


	p{
		text-align: justify;
		text-indent: 10px;
		margin: 0;
		margin-top: 0.5rem;
	}
}

a {
	color: darken($main-color, 25%);
	text-decoration: none;
	border-bottom: 2px solid darken($main-color, 50%);
}
